ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.draggable {
  cursor: move;
}

.test {
  background-color: gray;
  opacity: 0.6;
}

.test2 {
  background-color: blue;
  opacity: 0.6;
}